@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Hello @ViewData["customer_name"], welcome to this shitty website</p>
<p>your age is @ViewData["customer_age"], that's pretty fucking young</p>

<p>Use this area to provide additional information.</p>
