@model PortfolioViewModel
@{
    ViewData["Title"] = "Porty Home Page";
}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="bio-picture">
        <img class="img-responsive" />
        <h1></h1>
      </div>
    </div>
    <div class="col">
    @foreach (var item in Model.Items) {

      <div class="portfolio-item">
        <h2>@item.Title</h2>
        <p>@item.Description</p>
      </div>
    }
    </div<
  </div>
</div>
