@{
    ViewData["Title"] = "Porty Home Page";
}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="bio-picture">
        <img class="img-responsive" />
        <h1></h1>
      </div>
    </div>
    <div class="col">
    </div<
  </div>
</div>
