@{
    ViewData["Title"] = "Porty | Upload Your Portfolio";
}

<div class="homepage-greeting hero jumbotron">
  <!--TODO: Implement User greeting -->
  <h1 class="display4">Welcome to Porty - A Portfolio Website</h1>
  <p class="lead">Access your personal portfolio, add new items and create a personal bio.</p>
  <hr>
  <p> Click the button below to access your personal portfolio</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="Portfolio/">My Portfolio</a>
  </p>
</div>

<div class="panel-footer add-item-form">
@await Html.PartialAsync("AddItemPartial", new PortfolioItem())
</div>
