@using porty.Areas.Identity.Pages.Account.Manage
@model IndexModel

<h2 asp-for="Input.Name" class="bio-title"></h2>
<p asp-for="Input.Tagline" class="bio-tagline"></p>
<p asp-for="Input.Location" class="bio-location"></p>
