@model PortfolioItem

@{
  ViewData["Title"] = "Edit";
}
<div class="container-fluid">
  <form asp-action="EditItem" method="POST">
  <p class="help-block">Editing metadata</p>
  <input type="hidden" name="Id" asp-for="Id" />
  <input type="hidden" name="PublishedAt" asp-for="PublishedAt" />
  <input type="hidden" name="UserId" asp-for="UserId" />
  <div class="form-group">
    <label asp-for="Title">Name: </label>
    <input class="form-control" type="text" asp-for="Title" />
  </div>
  <div class="form-group">
    <label asp-for="Description">Description: </label>
    <textarea class="form-control" asp-for="Description"> </textarea>
  </div>
  <div class="form-group">
    <label asp-for="ImageUrl">Image: </label>
    <input class="form-control" type="url" asp-for="ImageUrl" />
  </div>
  <div class = "form-group">
    <label asp-for= "Tags">Tags: </label>
    <input class="form-control" type="text" asp-for="Tags"/>
  </div>
  <button class="btn btn-primary" type="submit">Update</button>
  </form>
</div>
