@model PortfolioViewModel

@{
  ViewData["Title"] = "See your portfolio items";
}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img class="img-responsive portfolio-bio-pic" />
      <h2 class="bio-title">Eduardo Vega</h2>
      <p class="bio-tagline">Freelance Designer / Web Developer</p>
      <p class="bio-location">Vancouver, BC</p>
      <div class="bio-social">
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Twitter</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
  @foreach (var item in Model.Items)
  {
    <div class="portfolio-item">
      <h1 class="portfolio-title">@item.Title</h1>
      <p class="portfolio-description">@item.Description</p>
      <img class="img-responsive" src="@item.ImageUrl" />
    </div>
  }
  </div>
</div>
