@model PortfolioViewModel

@{
  ViewData["Title"] = "See your portfolio items";
}

<div class="container-fluid">
  <div class="row">
    <!--TODO: Implement Bio from database -->
    <div class="col-md-2">
      <img class="img-responsive portfolio-item-img" />

      <h2 class="bio-title">Eduardo Vega</h2>
      <p class="bio-tagline">Freelance Designer / Web Developer</p>
      <p class="bio-location">Vancouver, BC</p>
      <div class="bio-social">
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Twitter</li>
        </ul>
        </div>

    </div>

  <div class="col-md-10">
    <div class="row">
    @foreach (var item in Model.Items)
    {
      <div class="portfolio-item col-md-6">
        <img clas="img-responsive portfolio-item-img">
      < class= "bio-container">
        <h3 class="portfolio-title">@item.Title</h3>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.Id">
          More Info
        </button>
        <!--modal per item-->
        <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@item.Title</h4>
                <div class="modal-body">
                  <p class="portfolio-description">@item.Description</p>
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    }
    </div>

  </div>
  </div>
</div>
